---
import Button from '@/components/button.astro';
import Input from '@/components/input.astro';
import Layout from '@/layouts/index.astro';
import Posts from './posts.astro';
---

<Layout x-data="postSearch">
  <h1 class="text-center font-extrabold tracking-tight text-4xl">Astro DB Full-Text Seach</h1>
  <form method="POST" class="mx-auto mb-10 mt-6 flex w-full gap-4" @submit.prevent="submit">
    <Input x-model="query" name="query" aria-label="Search a blog post" placeholder="Search a blog post..." />
    <Button type="submit" :disabled="loading || query.trim() === ''">Search</Button>
    <Button type="reset" color="ghost" :disabled="loading || query.trim() === ''" @click="reset">Reset</Button>
  </form>
  <section class="pt-10"><Posts /></section>
</Layout>
