---
import '@fontsource/inter';
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en" class="scrollbar-thin scrollbar-track-transparent scrollbar-thumb-surface-2 selection:bg-brand/40">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro DB Full-Text Search</title>
    <ViewTransitions />
  </head>
  <body class="relative flex min-h-dvh flex-col bg-surface-1 text-foreground text-sm">
    <div class="bg-radial-grid"></div>
    <main class="mx-auto my-40 w-full max-w-screen-md flex-1"><slot /></main>
  </body>
</html>
